body, html {
    height: 100%;
    width: 100%;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
	font-family: "Calibri", Arial, sans-serif;
	font-weight: 300;
	font-size: 46px;
	color: #434343;
    background: #fff;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
	content: "";
	display: table;
    clear: both;
}

.container {
	max-width: 1964px;
	margin: 0 auto;
	padding: 0 20px;
}

.wrapper {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
	width: 100%;
}

/*header*/
header {
    padding: 7px 0 13px;
    background: #253341;
    color: #ffffff;
    border-bottom: 3px solid #2e2e2e;
}

.main-header {
    padding: 3px 0 5px;
}

h1 {
	color:  #ffffff;
	margin: 0;
	font-size: 66px;
}

h1 a {
	color: #ffffff;
	text-decoration: none;
    font-weight: 300;
    font-size: 66px;
}

.main-header .brand {
	float: left;
	width: 50%;
	text-align: left;
    padding-top: 25px;
}

.contact-info {
	float: right;
	width: 50%;
	text-align: right;
	font-size: 50px;
	color:  #ffffff;
	font-weight: 300;
    padding-right: 38px;
    padding-top: 28px;
}

.contact-info a {
	color: #ffffff;
	text-decoration: none;
}

.contact-info a:hover,
.contact-info a:focus,
.contact-info a:active {
	color: #ffffff;
	text-decoration: underline;
}
/*end header*/

/*content*/
.content1 {
	max-width: 70%;
	z-index: 10;
	color: #ffffff;
    padding-top: 50px;
    padding-bottom: 22px;
}

.application {
	max-width: 874px;
	border: 5px solid #72c872;
    padding: 0px 14px 35px;
	margin-top: 32px;
}

.application input.error {
	border: 2px solid #bf0404;
}

.application label.error {
	display: none !important;
}

.application p {
	color:  #ffffff;
	font-size: 67px;
	font-weight: 300;
	margin: 0;
}

h2 {
	font-size: 100px;
	font-weight: 700;
	margin: 0;
	line-height: 100px;
}

h3 {
	color:  #ffffff;
	font-size: 75px;
	font-weight: 300;
	margin: 0;
	text-transform: uppercase;
    line-height: 85px;
}

.content1 span {
	color:  #ffffff;
	font-size: 46px;
	font-weight: 300;
    line-height: 54px;
    padding-top: 20px;
    display: block;
}

.bg-image1 {
	position: relative;
	background: url(../img/pic1.jpeg) no-repeat;
	background-size: cover;
    z-index: 2;
    overflow: hidden;
}

.bg-image1:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    bottom: 0;
    width: 2085px;
    -moz-transform: skew(-58.1deg) translateX(-48.9%);
    -ms-transform: skew(-58.1deg) translateX(-48.9%);
    -o-transform: skew(-58.1deg) translateX(-48.9%);
    -webkit-transform: skew(-58.1deg) translateX(-48.9%);
    transform: skew(-58.1deg) translateX(-48.9%);
    background: #2d3e50;
    z-index: -1;
}

.btn {
	background-color: #72c872;
	color:  #ffffff;
    font-size: 58px;
	font-weight: 300;
	text-align: center;
	border: none;
    padding: 5px 0 15px;
    cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #4abd92;
}

.form-group,
.input-group {
	max-width: 87%;
    margin: 0 auto;
}

.form-group .btn {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	font-size: 58px;
}

input[type="submit"] {
	float: right;
}

.input-group input {
	height: 62px;
	width: 100%;
	border: 2px solid transparent;
	font-size: 33px;
    padding-left: 10px;
    margin: 10px 0;
    color:  #2b2b2b;
}

.download {
	position: relative; 
	width: 49%;
	float: left;
	display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.download .btn {
    width: 100%;
    z-index: 3;
    overflow: hidden;
    cursor: pointer;
}

.download .btn:hover,
.download .btn:active,
.download .btn:focus {
    background: #4abd92;
}

.input-file:hover {
	background: #4abd92;
} 

.input-file {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(20);
    -ms-transform: scale(20);
     transform: scale(20); 
    z-index: 4;
    top: 0;
    font-size: 0;
     cursor: pointer; 
}

.form-group {
    margin-top: 20px;
}

input::-webkit-input-placeholder {
	color:  #2b2b2b;
	font-size: 33.33px;
}
input::-moz-placeholder {
	color:  #2b2b2b;
	font-size: 33.33px;
}
input::-ms-input-placeholder{
	color:  #2b2b2b;
	font-size: 33.33px;
}

.bg-image2 {
	position: relative;
	background: url(../img/pic2.jpg) no-repeat;
	background-size: cover;
    z-index: 2;
    background-position: center center;
    padding: 25px 0 615px;
    overflow: hidden;
}

.bg-image2:before {
	content: '';
    position: absolute;
    width: 2060px;
    top: 0;
    bottom: -318px;
    right: 0;
    -moz-transform: skew(58deg) translateX(48%);
    -ms-transform: skew(58deg) translateX(48%);
    -o-transform: skew(58deg) translateX(48%);
    -webkit-transform: skew(58deg) translateX(48%);
    transform: skew(58deg) translateX(48%);
    background: #edf1f2;
    z-index: -1;
}

.content2 {
    float: right;
    width: 37.7%;
}

h4 {
	margin: 0;
	color:  #72c872;
	font-size: 75px;
	font-weight: 700;
	text-align: left;
	text-transform: uppercase;
    line-height: 75px;
    letter-spacing: 2px;
}

h5 {
	margin: 0;
	color:  #454545;
	font-size: 66.67px;
	font-weight: 300;
	text-align: left;
    line-height: 66px;
}

.content2 p {
	color:  #3f3f3f;
	font-size: 58.33px;
	font-weight: 300;
	margin: 0;
    line-height: 58px;
    padding-top: 22px;
}

.content2 span {
	color:  #434343;
	font-size: 45.83px;
	font-weight: 300;
	text-align: left;
	line-height: 45px;
    padding-top: 12px;
    display: block;
}

.job-block {
	position: absolute;
	right: 68%;
    top: 168px;
}

.job-pic {
	max-width: 275px;
	height: 275px;
	border-radius: 50%;
	overflow: hidden;
	border: 5px solid #58595a;
}

.job-pic img {
    width: auto;
    height: 100%;
}

.job-item1,
.job-item2,
.job-item3,
.job-item4,
.job-item5 {
	position: absolute;
    text-align: center;
}

.job-item1 {
	top: 0;
	left: 0;
}

.job-item2 {
	top: 82px;
    left: 332px;
}

.job-item3 {
    top: 194px;
    left: 640px;
}

.job-item4 {
    top: 262px;
    left: 962px;
}

.job-item5 {
    top: 372px;
    left: 1286px;
}

.job-title {
	color:  #2e2e2e;
	font-size: 50px;
	font-weight: 300;
    line-height: 60px;
    padding-top: 24px;
    display: block;
}

.video-block {
	border: 5px solid #2d2d2d;
    max-width: 906px;
    height: 597px;
    margin-top: 125px;
    margin-left: 35px;
}

.video-block iframe {
	width: 100%;
	height: 100%;
}

.bg-image3 {
	position: relative;
    z-index: 4;
    background-color: transparent;
	padding: 80px 0 252px;
	border-bottom: 3px solid #2e2e2e;
    margin-bottom: 20px;
    overflow: hidden;
}

.bg-image3:before {
	position: absolute;
	content: '';
	top: 0;
    bottom: 0;
    -moz-transform: skew(-58.1deg) translateX(77%);
    -ms-transform: skew(-58.1deg) translateX(77%);
    -o-transform: skew(-58.1deg) translateX(77%);
    -webkit-transform: skew(-58.1deg) translateX(77%);
    transform: skew(-58.1deg) translateX(77%);
    background-color: #00be91;
    z-index: -1;
    right: 0;
    width: 2038px;
}

.content3 {
	padding-left: 74px;
}

/*slider*/

.slider-block h4 {
	text-align: center;
    padding-left: 45px;
}

.slider-pic {
	overflow: hidden;
	height: 686px;
	width: 100%;
    display: inline-block;
    transition: 0.5s all ease;
}

.slider-pic:hover img {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.slider-pic img{
	width: auto;
	height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s all ease;
}

.slick-slide:focus {
	outline: none;
} 

.goods-slider_item {
	text-align: center;
    max-width: 580px;
    margin: 0 60px;
}

.goods-slider,
.goods-slider2 {
	margin: 132px -60px 0;
}

.slick-prev {
	position: absolute;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 52px 80px 52px 0;
    border-color: transparent #00002b transparent transparent;
    color: transparent;
    background-color: transparent;
    top: -218px;
    left: 31.7%;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.slick-next {
	position: absolute;
	width: 0;
    height: 0;
    border-style: solid;
    border-width: 52px 0 52px 80px;
    border-color: transparent transparent transparent #00002b;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    right: 29.5%;
    top: -218px;
}

.slick-prev:hover {
	border-color: transparent #72c872 transparent transparent;
}

.slick-next:focus,
.slick-prev:focus {
	outline: none;
}

.slick-next:hover {
	border-color: transparent transparent transparent #72c872;
}

.bg-image4 {
	position: relative;
    z-index: 4;
    background-color: transparent;
	padding: 60px 0 246px;
	 overflow: hidden;
}

.bg-image7 {
	position: relative;
    z-index: 4;
    background-color: transparent;
    padding: 60px 0 175px;
     overflow: hidden;
}

.bg-image4:after {
    position: absolute;
    content: '';
    top: auto;
    bottom: 0;
    -moz-transform: skew(-42deg) translateX(79.5%);
    -ms-transform: skew(-42deg) translateX(79.5%);
    -o-transform: skew(-42deg) translateX(79.5%);
    -webkit-transform: skew(-42deg) translateX(79.5%);
    transform: skew(-42deg) translateX(79.5%);
    background-color: #00be91;
    z-index: -1;
    right: 0;
    width: 2038px;
    height: 934px;
}

.bg-image7:after {
    position: absolute;
    content: '';
    top: auto;
    bottom: 0;
    -moz-transform: skew(-42deg) translateX(79.5%);
    -ms-transform: skew(-42deg) translateX(79.5%);
    -o-transform: skew(-42deg) translateX(79.5%);
    -webkit-transform: skew(-42deg) translateX(79.5%);
    transform: skew(-42deg) translateX(79.5%);
    background-color: #00be91;
    z-index: -1;
    right: 0;
    width: 2038px;
    height: 934px;
}


.bg-image4:before {
	position: absolute;
    content: '';
    top: auto;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ecf0f1;
    -moz-transform: skew(47deg) translateX(-62.5%);
    -ms-transform: skew(47deg) translateX(-62.5%);
    -o-transform: skew(47deg) translateX(-62.5%);
    -webkit-transform: skew(47deg) translateX(-62.5%);
    transform: skew(47deg) translateX(-62.5%);
    width: 1855px;
    height: 100%;
}

.bg-image7:before {
	position: absolute;
    content: '';
    top: auto;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #ecf0f1;
    -moz-transform: skew(47.3deg) translateX(-60.5%);
    -ms-transform: skew(47.3deg) translateX(-60.5%);
    -o-transform: skew(47.3deg) translateX(-60.5%);
    -webkit-transform: skew(47.3deg) translateX(-60.5%);
    transform: skew(47.3deg) translateX(-60.5%);
    width: 1855px;
    height: 100%;
}

.goods-slider_item span {
	color:  #333333;
	font-size: 66.67px;
	font-weight: 300;
    display: block;
    padding-top: 65px;
    line-height: 74px;
}

.bg-image5 {
	position: relative;
	background: url('../img/sheet-bg.png') no-repeat;
    background-size: cover;
}

.bg-image5 .content {
	float: right;
    width: 48.6%;
    padding: 100px 0 392px;
}

.bg-image5  h4 {
	color:  #ffffff;
    padding-bottom: 60px;
}

.bg-image5  h5 {
	color:  #ffffff;
}

.quality-list {
    padding-top: 18px;
}

.quality-list li {
	position: relative;
	color: #ffffff;
	font-size: 50px;
	font-weight: 300;
	list-style: none;
}
.quality-list li:before {
	position: absolute;
    content: '-';
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
    top: 0;
    left: -22px;
}

.suppliers-block {
	background: url('../img/suppliers-bg.jpg');
	background-size: cover;
    text-align: center;
    margin-top: 35px;
}

.bg-image6 {
	padding-top: 22px;
}

.bg-image6 h4 {
	text-align: center;
}

.suppliers-item {
	display: inline-block;
	vertical-align: middle;
    width: 29%;
    padding: 20px 6px;
}

.suppliers-item img {
    width: 100%;
    height: auto;
}

.map {
	position: relative;
    overflow: hidden;
    padding-bottom: 36%;
    position: relative;
    height: 0;
    margin: 0 auto;
}

.map_info {
	position: relative;
	z-index: 2;
	max-width: 55%;
    padding: 124px 0 308px;
}

.map_info a {
	text-decoration: none;
	color: #fff;
}

.map_info a:hover {
	text-decoration: underline;
	color: #fff;
} 

.map_info p {
	color:  #ffffff;
	font-size: 50px;
	font-weight: 300;
}

.map_info span {
	text-transform: uppercase;
}

.map_info:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2126px;
    bottom: 0;
    background: #f1c40f;
    -moz-transform: skew(-42.5deg) translate(-43%);
    -ms-transform: skew(-42.5deg) translate(-43%);
    -o-transform: skew(-42.5deg) translate(-43%);
    -webkit-transform: skew(-42.5deg) translate(-43%);
    transform: skew(-42.5deg) translate(-43%);
    z-index: -1;
}

#google-map {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

/*footer*/
footer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #253341;
     padding: 7px 0 26px;
}

footer h1 a {
    color:  #ffffff;
    font-size: 66.67px;
    font-weight: 700;
} 

footer .brand,
.copyright-year {
    display: inline-block;
    vertical-align: baseline;
}

.copyright-year {
    padding-left: 40px;
    color:  #ffffff;
    font-size: 33.33px;
    font-weight: 300;
}


.toTop {
    width: 40px;
    height: 40px;
    font-size: 24px;
    line-height: 40px;
    color: #2d3e50;
    background: #ffffff;
    position: fixed;
    right: 66px;
    bottom: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    display: none;
    z-index: 20;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.toTop.visible {
    display: block;
}

.toTop:hover {
    color: #fff;
    background: #2d3e50;
    text-decoration: none;
}

/*adaptive*/
@media screen and (max-width: 2320px) {
	.job-block {	
	    right: 72%;
	}
}

@media screen and (max-width: 2202px) {
	.job-block {
	    right: 80%;
	    top: 180px;
	}

	.bg-image2 {
	    padding: 25px 0 545px;
	}
}


@media screen and (max-width: 1980px) {
	.container {
		max-width: 1524px;
	}

	h1,
	h1 a,
	h5,
	.application p,
	.goods-slider_item span {
	    font-size: 51.91px;
	}

	h5 {
		line-height: 52px;
	}

	h2 {
	    font-size: 77.87px;
        line-height: 76px;
	}

	h3,
	h4 {
	    font-size: 58.4px;
	}

	h3 {
	    line-height: 68px;
	}

	.content1 span,
	.content2 span {
		font-size: 35.69px;
	}

	.content2 span {
		line-height: 35px;
	    padding-top: 10px;
	}

	.content1 span {
		line-height: 45px;
	    padding-top: 10px;
	}

	.input-group input {
		font-size: 25.95px;
	}
	input::-webkit-input-placeholder {
		font-size: 25.95px;
	}
	input::-moz-placeholder {
		font-size: 25.95px;
	}
	input::-ms-input-placeholder {
		font-size: 25.95px;
	}

	.form-group .btn,
	.content2 p  {
		font-size: 45.42px;
	}

	.content2 p {
	    line-height: 45px;
	    padding-top: 14px;
	}

	.job-title,
	.quality-list li,
	.map_info p,
	.contact-info {
		font-size: 38.93px;
		line-height: 38px;
	}

	.contact-info {
	    padding-top: 20px;
	}

	.main-header .brand {
		padding-top: 17px;
	}

	.content1 {
        padding-top: 38px;
	}

	.application {
	    margin-top: 18px;
        max-width: 684px;
        padding: 0px 14px 24px;
	}

	.input-group input {
	    height: 44px;
        margin: 9px 0;
	}

	.form-group {
		margin-top: 18px;
	}

	.btn {
		padding: 5px 0 6px;
	}

	.bg-image1:before {
	    -moz-transform: skew(-58.1deg) translateX(-59.9%);
	    -ms-transform: skew(-58.1deg) translateX(-59.9%);
	    -o-transform: skew(-58.1deg) translateX(-59.9%);
	    -webkit-transform: skew(-58.1deg) translateX(-59.9%);
	    transform: skew(-58.1deg) translateX(-59.9%);
	}

	.bg-image2 {
	    padding: 6px 0 615px;
	}

	.job-block {
	    top: 124px;
	    right: 70%;
	}

	.job-pic {
	    max-width: 215px;
	    height: 215px;
	}

	.job-item2 {
	    top: 70px;
	    left: 257px;
	}

	.job-item3 {
	    top: 155px;
	    left: 496px;
	}

	.job-item4 {
	    top: 210px;
	    left: 750px;
	}

	.job-item5 {
	    top: 294px;
	    left: 1008px;
	}

	.bg-image2 {
	    padding: 6px 0 478px;
	}

	.bg-image2:before {
		-moz-transform: skew(58deg) translateX(63%);
	    -ms-transform: skew(58deg) translateX(63%);
	    -o-transform: skew(58deg) translateX(63%);
	    -webkit-transform: skew(58deg) translateX(63%);
	    transform: skew(58deg) translateX(63%);
	}

	.content3 {
		padding-left: 48px;
	}

	.bg-image3 {
	    padding: 50px 0 252px;
	}

	.video-block {
	    max-width: 700px;
	    height: 460px;
        margin-top: 90px;
	}

	.bg-image3 {
		padding: 50px 0 202px;
	    margin-bottom: -5px;
	}

	.bg-image3:before {
		-moz-transform: skew(-58.1deg) translateX(82%);
	    -ms-transform: skew(-58.1deg) translateX(82%);
	    -o-transform: skew(-58.1deg) translateX(82%);
	    -webkit-transform: skew(-58.1deg) translateX(82%);
	    transform: skew(-58.1deg) translateX(82%);
	}

	.goods-slider, .goods-slider2 {
	    margin: 95px -50px 0;
	}

	.slick-prev {
	    border-width: 42px 64px 42px 0; 
        top: -174px;
	}

	.slick-next {
	    border-width: 42px 0 42px 64px;
        top: -174px;
        right: 29%;
	}

	.slider-pic {
	    height: 530px;
	}

	.goods-slider_item {
		margin: 0 50px;
	}

	.goods-slider_item span {
		line-height: 51px;
	    padding-top: 48px;
	}

	.bg-image4 {
	    padding: 60px 0 206px;
	}

	.bg-image4:before {
		-moz-transform: skew(47deg) translateX(-71.5%);
	    -ms-transform: skew(47deg) translateX(-71.5%);
	    -o-transform: skew(47deg) translateX(-71.5%);
	    -webkit-transform: skew(47deg) translateX(-71.5%);
	    transform: skew(47deg) translateX(-71.5%);
	}

	.bg-image4:after {
	    -moz-transform: skew(-42deg) translateX(88.5%);
	    -ms-transform: skew(-42deg) translateX(88.5%);
	    -o-transform: skew(-42deg) translateX(88.5%);
	    -webkit-transform: skew(-42deg) translateX(88.5%);
	    transform: skew(-42deg) translateX(88.5%);
	}

	.bg-image5 .content {
	    padding: 70px 0 296px;
	}

	.bg-image5  h4 {
	    padding-bottom: 40px;
	}

	.quality-list {
	    padding-top: 2px;
	}

	.bg-image6 {
	    padding-top: 8px;
	}

	.suppliers-block {
	    margin-top: 15px;
	}

	.suppliers-item {
	    padding: 15px 30px;
	}

	.bg-image7 {
		padding: 50px 0 148px;
	}

	.bg-image7:before {
		-moz-transform: skew(47.3deg) translateX(-69.5%);
	    -ms-transform: skew(47.3deg) translateX(-69.5%);
	    -o-transform: skew(47.3deg) translateX(-69.5%);
	    -webkit-transform: skew(47.3deg) translateX(-69.5%);
	    transform: skew(47.3deg) translateX(-69.5%);
	}

	.bg-image7:after {
		-moz-transform: skew(-42deg) translateX(88.8%);
	    -ms-transform: skew(-42deg) translateX(88.8%);
	    -o-transform: skew(-42deg) translateX(88.8%);
	    -webkit-transform: skew(-42deg) translateX(88.8%);
	    transform: skew(-42deg) translateX(88.8%);
	}

	.map_info {
		padding: 100px 0 308px;
	}

	.map {
	    padding-bottom: 38.4%;
	}

	.map_info:before {
	    -moz-transform: skew(-42.5deg) translate(-56%);
	    -ms-transform: skew(-42.5deg) translate(-56%);
	    -o-transform: skew(-42.5deg) translate(-56%);
	    -webkit-transform: skew(-42.5deg) translate(-56%);
	    transform: skew(-42.5deg) translate(-56%);
	}

	footer h1 a {
		font-size: 51.91px;
		line-height: 52px;
	}
	.copyright-year {
		font-size: 25.95px;
	}
}

@media screen and (max-width: 1790px) {
	.job-block {
	    right: 78%;
	}
}

@media screen and (max-width: 1600px) {
	.job-block {
	    right: 88%;
	}
}

@media screen and (max-width: 1520px) {
	.slick-next {
	    right: 28%;
	}
	.slick-prev {
	    left: 30.7%;
	}
}

@media screen and (max-width: 1500px) {
	.container {
	    max-width: 1020px;
	}

	h1, h1 a {
		font-size: 34.52px;
		line-height: 34px;
	}

	.contact-info {
		font-size: 25.89px;
		line-height: 25px;
	    padding-right: 4px;
        padding-top: 12px;
	}

	.content1 {
	    padding-top: 24px;
	    padding-bottom: 10px;
	}

	h2 {
		font-size: 51.78px;
		line-height: 51px;
	}

	h3 {
		font-size: 38.83px;
	    line-height: 38px;
	}

	.content1 span {
		font-size: 23.73px;
	    line-height: 27px;
	}	

	.application p {
	    font-size: 32px;
	    line-height: 32px;
	}

	.input-group input{
		font-size: 17.26px;
		margin: 0;
	}

	.input-group input::-webkit-input-placeholder {
		font-size: 17.26px;
	}
	.input-group input::-moz-placeholder {
		font-size: 17.26px;
	}
	.input-group input::-ms-input-placeholder {
		font-size: 17.26px;
	}

	.form-group .btn {
		font-size: 30.2px;
	}

	h4 {
		font-size: 38.83px;
		line-height: 39px;
	    letter-spacing: 1px;
	}

	h5 {
		font-size: 34.52px;
		line-height: 44px;
	}

	.content2 p {
		font-size: 30.2px;
		line-height: 30px;
	}

	.content2 span {
		font-size: 23.73px;
		line-height: 23px;
	}

	footer h1 a,
	.goods-slider_item span {
		font-size: 34.52px;
		line-height: 34px;
	}

	.quality-list li,
	.map_info p,
	.job-title {
		font-size: 25.89px;
		line-height: 25px;
	}

	.job-title {
		padding-top: 18px;
	}

	.copyright-year {
		font-size: 17.26px;
		line-height: 17px;
	}

	.main-header .brand {
	    padding-top: 12px;
	}

	.application {
	    margin-top: 5px;
	    max-width: 452px;
        padding: 0px 14px 0px;
	}

	.form-group, .input-group {
	    max-width: 90%;
	}

	.form-group {
	    margin-top: 10px;
	}

	.job-block {
	    top: 84px;
	    right: 66%;
	}

	.job-pic {
	    max-width: 144px;
	    height: 144px;
	}

	.job-item2 {
	    top: 46px;
	    left: 174px;
	}

	.job-item3 {
	    top: 102px;
	    left: 334px;
	}

	.job-item4 {
	    top: 136px;
	    left: 500px;
	}

	.job-item5 {
		top: 196px;
		left: 668px;
	}

	.bg-image1:before {
	    -moz-transform: skew(-58.1deg) translateX(-73.8%);
	    -ms-transform: skew(-58.1deg) translateX(-73.8%);
	    -o-transform: skew(-58.1deg) translateX(-73.8%);
	    -webkit-transform: skew(-58.1deg) translateX(-73.8%);
	    transform: skew(-58.1deg) translateX(-73.8%);
	}

	.bg-image2 {
	    padding: 6px 0 312px;
	}

	.bg-image2:before {
	    -moz-transform: skew(58deg) translateX(80%);
	    -ms-transform: skew(58deg) translateX(80%);
	    -o-transform: skew(58deg) translateX(80%);
	    -webkit-transform: skew(58deg) translateX(80%);
	    transform: skew(58deg) translateX(80%);
	}

	.content3 {
	    padding-left: 32px;
	}

	.bg-image3 {
	    padding: 40px 0 130px;
	}

	.video-block {
	    margin-left: 24px;
        margin-top: 64px;
        max-width: 464px;
	    height: 310px;
	}

	.bg-image3:before {
	    -moz-transform: skew(-58.1deg) translateX(89%);
	    -ms-transform: skew(-58.1deg) translateX(89%);
	    -o-transform: skew(-58.1deg) translateX(89%);
	    -webkit-transform: skew(-58.1deg) translateX(89%);
	    transform: skew(-58.1deg) translateX(89%);
	}

	.bg-image4 {
	    padding: 45px 0 206px;
	}

	.goods-slider, .goods-slider2 {
	    margin: 67px -25px 0;
	}

	.slider-pic {
	    height: 352px;
	}

	.goods-slider_item {
	    margin: 0 25px;
	}

	.slick-prev {
	    border-width: 28px 42px 28px 0;
	    top: -116px;
	}

	.slick-next {
	    border-width: 28px 0 28px 42px;
	    top: -116px;
        right: 26.5%;
	}

	.goods-slider_item span {
	    padding-top: 30px;
	}

	.bg-image4 {
	    padding: 45px 0 136px;
	}

	.bg-image4:before {
	    -moz-transform: skew(47deg) translateX(-80.5%);
	    -ms-transform: skew(47deg) translateX(-80.5%);
	    -o-transform: skew(47deg) translateX(-80.5%);
	    -webkit-transform: skew(47deg) translateX(-80.5%);
	    transform: skew(47deg) translateX(-80.5%);
	}

	.bg-image4:after {
	    -moz-transform: skew(-42deg) translateX(99.5%);
	    -ms-transform: skew(-42deg) translateX(99.5%);
	    -o-transform: skew(-42deg) translateX(99.5%);
	    -webkit-transform: skew(-42deg) translateX(99.5%);
	    transform: skew(-42deg) translateX(99.5%);
	}

	.bg-image5 .content {
	    padding: 52px 0 296px;
	}

	.bg-image5 h4 {
	    padding-bottom: 22px;
	}

	.quality-list {
	    padding-top: 26px;
	    margin: 0;
	}

	.bg-image5 .content {
	    padding: 52px 0 250px;
	}

	.suppliers-item {
	    padding: 15px 24px;
	}

	.bg-image7 {
	    padding: 38px 0 102px;
	}

	.bg-image7:before {
	    -moz-transform: skew(47.3deg) translateX(-79.5%);
	    -ms-transform: skew(47.3deg) translateX(-79.5%);
	    -o-transform: skew(47.3deg) translateX(-79.5%);
	    -webkit-transform: skew(47.3deg) translateX(-79.5%);
	    transform: skew(47.3deg) translateX(-79.5%);
	}

	.bg-image7:after {
	    -moz-transform: skew(-42deg) translateX(99.8%);
	    -ms-transform: skew(-42deg) translateX(99.8%);
	    -o-transform: skew(-42deg) translateX(99.8%);
	    -webkit-transform: skew(-42deg) translateX(99.8%);
	    transform: skew(-42deg) translateX(99.8%);
	}

	.map_info:before {
	    -moz-transform: skew(-42.5deg) translate(-74%);
	    -ms-transform: skew(-42.5deg) translate(-74%);
	    -o-transform: skew(-42.5deg) translate(-74%);
	    -webkit-transform: skew(-42.5deg) translate(-74%);
	    transform: skew(-42.5deg) translate(-74%);
	}

	footer {
	    padding: 0px 0 26px;
	}
}

@media screen and (max-width: 1260px) {
	.job-block {
	    right: 78%;
	}
}

@media screen and (max-width: 1150px) {
	.job-block {
	    right: 84%;
	}
}


@media screen and (max-width: 1010px) {
	.container {
		max-width: 786px;
	}

	.main-header .brand {
	    padding-top: 5px;
	}

	h1, h1 a {
	    font-size: 26.34px;
	    line-height: 26px;
	}

	.contact-info {
		font-size: 19.76px;
		line-height: 19px;
		padding-top: 8px;
	}

	.content1 {
	    padding-top: 14px;
	}

	h2 {
	    font-size: 39.51px;
	    line-height: 39px;
	}

	h3 {
	    font-size: 29.63px;
	    line-height: 29px;
	}

	.content1 span {
	    font-size: 18.11px;
	    line-height: 18px;
        padding-top: 20px;
	}

	.application {
	    margin-top: 12px;
	    max-width: 348px;
	}

	.application p {
	    font-size: 24px;
	    line-height: 24px;
	}

	.input-group input{
		font-size: 13.17px;
	}
	.input-group input::-webkit-input-placeholder {
		font-size: 13.17px;
	}
	.input-group input::-moz-placeholder {
		font-size: 13.17px;
	}
	.input-group input::-ms-input-placeholder {
		font-size: 13.17px;
	}

	.form-group .btn {
	    font-size: 23.05px;
	}

	h4 {
	    font-size: 29.63px;
	    line-height: 29px;
	}

	h5 {
	    font-size: 26.34px;
        line-height: 34px;
	}

	.content2 p {
	    font-size: 23.05px;
	    line-height: 23px;
        padding-top: 4px;
	}

	.content2 span {
	    font-size: 18.11px;
	    line-height: 18px;
        padding-top: 6px;
	}

	.job-title,
	.quality-list li,
	.map_info a {
	    font-size: 19.76px;
	    line-height: 19px;
	}

	.goods-slider_item span,
	footer h1 a {
	    font-size: 26.34px;
	    line-height: 26px;
	}

	.copyright-year {
		font-size: 13.17px;
	    line-height: 13px;
	}

	.bg-image1:before {
	    -moz-transform: skew(-58.1deg) translateX(-81.8%);
	    -ms-transform: skew(-58.1deg) translateX(-81.8%);
	    -o-transform: skew(-58.1deg) translateX(-81.8%);
	    -webkit-transform: skew(-58.1deg) translateX(-81.8%);
	    transform: skew(-58.1deg) translateX(-81.8%);
	}

	.job-block {
	    top: 62px;
        left: 31.5%;
	}

	.job-pic {
	    max-width: 114px;
	    height: 114px;
	}

	.job-title {
	    padding-top: 10px;
	}

	.job-item2 {
	    top: 36px;
	    left: 130px;
	}

	.job-item3 {
	    top: 78px;
	    left: 253px;
	}

	.job-item4 {
	    top: 105px;
	    left: 378px;
	}

	.job-item5 {
	    top: 154px;
	    left: 508px;
	}

	.bg-image2 {
	    padding: 6px 0 244px;
	}

	.bg-image2:before {
	    -moz-transform: skew(58deg) translateX(87%);
	    -ms-transform: skew(58deg) translateX(87%);
	    -o-transform: skew(58deg) translateX(87%);
	    -webkit-transform: skew(58deg) translateX(87%);
	    transform: skew(58deg) translateX(87%);
	}

	.content3 {
	    padding-left: 12px;
	}

	.bg-image3 {
	    padding: 30px 0 100px;
	}

	.video-block {
	    margin-left: 18px;
	    margin-top: 50px;
	    max-width: 354px;
	    height: 234px;
	}

	.bg-image3:before {
	    -moz-transform: skew(-58.1deg) translateX(91%);
	    -ms-transform: skew(-58.1deg) translateX(91%);
	    -o-transform: skew(-58.1deg) translateX(91%);
	    -webkit-transform: skew(-58.1deg) translateX(91%);
	    transform: skew(-58.1deg) translateX(91%);
	}

	.bg-image4 {
	    padding: 40px 0 104px;
	}

	.slick-prev {
	    border-width: 20px 36px 20px 0;
        top: -102px;
	}

	.slick-next {
	    border-width: 20px 0 20px 36px;
        top: -102px;
        right: 25.5%;
	}

	.goods-slider, .goods-slider2 {
	    margin: 50px -35px 0;
	}

	.slider-pic {
		height: 270px;
	}

	.goods-slider_item span {
	    padding-top: 20px;
	}

	.bg-image4:before {
	    -moz-transform: skew(47deg) translateX(-86.5%);
	    -ms-transform: skew(47deg) translateX(-86.5%);
	    -o-transform: skew(47deg) translateX(-86.5%);
	    -webkit-transform: skew(47deg) translateX(-86.5%);
	    transform: skew(47deg) translateX(-86.5%);
	}

	.bg-image4:after {
	    -moz-transform: skew(-42deg) translateX(104.5%);
	    -ms-transform: skew(-42deg) translateX(104.5%);
	    -o-transform: skew(-42deg) translateX(104.5%);
	    -webkit-transform: skew(-42deg) translateX(104.5%);
	    transform: skew(-42deg) translateX(104.5%);
	}

	.bg-image5 .content {
	    padding: 36px 0 180px;
	}

	.bg-image6 {
	    padding-top: 15px;
	}

	.suppliers-block {
	    margin-top: 16px;
	}

	.suppliers-item {
	    padding: 15px 32px;
	}

	.bg-image7 {
	    padding: 38px 0 72px;
	}

	.bg-image7:before {
	    -moz-transform: skew(47.3deg) translateX(-85.5%);
	    -ms-transform: skew(47.3deg) translateX(-85.5%);
	    -o-transform: skew(47.3deg) translateX(-85.5%);
	    -webkit-transform: skew(47.3deg) translateX(-85.5%);
	    transform: skew(47.3deg) translateX(-85.5%);
	}

	.bg-image7:after {
	    -moz-transform: skew(-42deg) translateX(104.2%);
	    -ms-transform: skew(-42deg) translateX(104.2%);
	    -o-transform: skew(-42deg) translateX(104.2%);
	    -webkit-transform: skew(-42deg) translateX(104.2%);
	    transform: skew(-42deg) translateX(104.2%);
	}

	.map_info:before {
	    -moz-transform: skew(-42.5deg) translate(-84%);
	    -ms-transform: skew(-42.5deg) translate(-84%);
	    -o-transform: skew(-42.5deg) translate(-84%);
	    -webkit-transform: skew(-42.5deg) translate(-84%);
	    transform: skew(-42.5deg) translate(-84%);
	}

	.map_info {
	    padding: 44px 0 308px;
	}

	.goods-slider, .goods-slider2 {
	    margin: 67px -15px 0;
	}

	.goods-slider_item {
	    margin: 0 15px;
	}
}

@media screen and (max-width: 980px) {
	body {
		width: 980px;
		overflow-x: scroll;
	}
}

